@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300);
@font-face {
  font-family: 'Aries Book';
  src: url("../fonts/AvenirLTStd-Book.otf");
  src: url("../fonts/AvenirLTStd-Book.eof");
  src: url("../fonts/avenirltstd-book.otf") format("embedded-opentype"),
  url("../fonts/avenirltstd-book.woff") format("woff"),
  url("../fonts/avenirltstd-book.ttf") format("truetype"),
  url("../fonts/AvenirLTStd-Book.otf") format("opentype"),
  url("../fonts/avenirltstd-book.svg#caviar_dreamsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
