.aldrig-underline {
  position:relative;

  &:after {
    display:block;
    position:absolute;
    width:87px;
    height:11px;
    background:url(../images/sprites/aldrig-underline.png);
    content:"";
    position:absolute;
    bottom:-18px;
    left:2px;

    @media screen and (max-width: $break-sm) {
      bottom:-10px;
    }
  }

}

.bottom-margin-60 {
  margin-bottom:60px;
}
