@import "queries";
@import "colors";
@import "typography";
@import 'helpers';

@import "navbar";

//Import subpages
@import 'subpages/priser';

body {
  background: #ffffff;;
  font-family:"Aries Book", sans-serif;
}

header {
  height:600px;
  width:100%;
  background:$brand-color;
  color:white;
}

header nav {
  height:85px;
  width:100%;
}

header .container {
  text-align:center;
  padding-top:190px;

  @media screen and (max-width: $break-md) {
    padding-top:140px;
  }
}

header .container h1 {
  font-size:40px;
  font-weight:300;
}

header .container h2{
  font-size:20px;
  font-weight:300;
}

header .container h3 {
  font-size:16px;
  font-weight:200;
}

.onefieldsubmit {
  margin: auto;
  margin-top: 20px;
  max-width: 360px;
  position: relative;
  text-align:left;

  input {
    margin:0;
  }

  input[type="text"] {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height:50px;
    background:white;
    border:none;
    padding:0 30px;
    color:#666666;
    width: calc(100% - 25px);
    margin-right:-5px;
    outline:none;
  }
  input[type="submit"] {
    background: #a1e98b;
    border: none;
    color: #333333;
    font-weight: 600;
    height: 50px;
    padding: 0 25px 0 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

main {
  padding:90px 0;

  iframe {
    max-width:500px;
  }

  h1, h2, h3, h4 {
    color:$main-headline-color;
  }

  h1 {
    font-size:36px;
    font-weight:300;
  }

  .process {
    margin-top:65px;

    p {
      margin-top:35px;
      font-size:16px;
      line-height:24px;
      padding:0 40px;
      color:#666666;

      @media screen and (max-width: $break-md) {

        max-width:360px;
        margin: 25px auto 50px;
      }
    }

    .center-process {
      position:relative;

      &:before, &:after {
        content:"";
        width:150px;
        height:10px;
        background:url(../images/content/process/dots.png) no-repeat;
        position:absolute;
        top:80px;

        @media screen and (max-width: $break-md) {
          display:none;
        }
      }

      &:before {
        left:-80px;
      }

      &:after {
        right:-80px;
      }
    }
  }

}

section {
  padding:30px 0;

  &.media {
    background:#f2f2f2;
    margin-top:0;
  }
}


.media {
  img {
    margin:0 20px;
  }
}

.feedback {
  padding:70px 0;

  h1 {
    margin-bottom:70px;
  }

  h4 {
    font-size:20px;
    font-weight:400;
  }

  p {
    line-height:28px;
    font-size:16px;
    padding:0 20px;
  }

  .row img {
    margin-top:40px;
  }
}

.about {
  padding-bottom:90px;


  @media screen and (max-width: $break-sm) {
    padding-bottom:0px;
  }

  .half-block {
    height:400px;
    padding:85px 100px;
    transition:padding 0.4s;

    @media screen and (max-width: $break-sm) {
      padding: 20px 40px;
    }



    ul {
      list-style-type: none;
      list-style-position: inside;
      padding:0;

      li {
        line-height:22px;
        margin-bottom:15px;
        font-size:14px;

        &:before {
          content:"";
          width:22px;
          height:22px;
          background:url(../images/checkmark.png);
          display: inline-block;
          vertical-align: middle;
          margin-right:10px;
        }
      }
    }

    h1 {
      font-size:36px;
      font-weight:300;
    }

    &.half-green {
      background:#a1e98b;
      color:#333333;
    }

    &.half-blue {
      background:#3498db;
      color:#fff;

      ul li:before {
        background:url(../images/checkmark-white.png);
      }
    }

    &.half-red {
      background:#ff576b;
      color:#fff;

      ul li:before {
        background:url(../images/checkmark-white.png);
      }
    }

  }


  .bg-pic {
    height:400px;
    background-size:cover;
    background-position:center center;

    &.half-pic1 {
      background-image:url(../images/content/basket-cloths.jpg);
    }

    &.half-pic2 {
      background-image:url(../images/content/washa-mobile.jpg);
    }

    &.half-pic3 {
      background-image:url(../images/content/cloths-hanging.jpg);
    }
  }
}

footer {
  width:100%;
  height:200px;
  background:$brand-color;
  color:white;
  padding:40px;
}



